
h1{
    text-align:center;
     
}


.dropdown:hover .dropdown-menu{
   display: block;
   
}

.imagen{
    width: 150px;
    height: 100px;
    text-align: right;
    margin-right: 10%;
    
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  